@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@200;300;800&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Fira+Sans:wght@500&display=swap');

// COLORS

$dark-font:#2C3333;
$darkgreen-font:#395B64;
$blue-font:#2666CF;
$dirtywhite-font:#F5F2E7;



.flex
{
    display: flex;

    &-jc-sb
    {
        justify-content: space-between;
    }
    
    &-ai-c
    {
        align-items: center;
    }
}
*,*::before,*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    outline: none !important;   
}
a{
    text-decoration: none !important;
}

body
{
    background-color: $dirtywhite-font;
}


// NAV
header
{
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #F5F2E7;
    transition: all 0.2s ease-in-out;
    & .navbar
    {
       
 

        
        width: 70%;
        margin: auto;
        background-color: #F5F2E7 !important;
        & .container-fluid
        {
            width: 100%;
        }



        & img
        {
            width: 100px;
        }
        
        & ul li 
        {
            &:last-child
            {
                background-color: black;
                padding: 0px 15px !important;
                border-radius: 5px;
                margin-left: 1rem;
                &:hover
                {
                    opacity: 100%;
                    box-shadow: inset 0px 0px 5px white;
                }
                
                & a 

                {
                    font-size: 1rem;
                    color: $dirtywhite-font !important;
                    // font-family: 'Fira Sans', sans-serif;
                    font-family: 'Anybody', cursive;
                    font-weight: 800 !important;

                    &:hover
                {
                   opacity: 100%;
                }
                }
            
            }
            & a
            {
                font-family: 'Anybody', cursive;
                font-size: 1rem;
                color: $dark-font !important;
                font-weight: 400 !important;
                cursor: pointer !important; 
                &:hover
                {
                   opacity: 70%;
                }
            }
       
           
        }
    }
}



// HERO

.hero-section
{
    width: 100%;
    height: 100vh;
    position: relative;
    // background-color: blanchedalmond;


    



    & .hero  
    {
        // background-color: green;
        padding-top: 20vh;
        width: 70%;
        margin:  auto;
        
        
        &__left
        {   
            width: 100%;
            // background-color: blue;
            line-height: 1.2;
            z-index: 20;
           
            & h1
            {
             
                color: $dark-font;
                font-size: 3rem;
                font-weight: 800;
                font-family: 'Anybody', cursive;
           
            }
            & p
            {
                color: $dark-font;
                font-size: 1.5rem;
                font-weight: 300;
                font-family: 'Anybody', cursive;
      
           
            }
            & a
            {
               line-height: 6;
                color: $dirtywhite-font;
           
                background-color: black;
                padding: 20px;
                font-size: 1rem;
                font-weight: 600;
                font-family: 'Anybody', cursive;
                transition: all 0.2s ease-in-out;
                border-radius: 5px;
                &:hover
                {
                  padding: 20px 35px; 
                }
                
            }

        }

        &__right
        {
            position: relative;
            width: 100%;
            right: 0;
    
            
            & img
            {
                max-height: 800px;
                width: 100%;
            }
            & .shape1
            {
                position: absolute;
                background:linear-gradient(#395b6422,#1f51518e);
                padding: 250px;
                bottom: 20%;
                right: 10%;
                z-index: -20;
                border-radius: 100%;
           
            }
        }
    }
  
    
    
    
}



@media only screen and (max-width: 1024px) {
    .hero-section
    {
        & .hero
        {
            padding-top: 35vh !important;
            &__left
            {

            }
            &__right
            {
                & .shape1
                {
                    padding: 170px !important;
                }
            }
        }
    }
}


// MOBILE WIDTH
@media only screen and (max-width: 768px) {
   header
   {
        
        background-color: #F5F2E7;
       .navbar
       {
           width: 95%;
            z-index: 100;


           & ul li 
           {
               border-radius: 5px;
               &:hover
               {
                   background-color: #d0bd86;
               }
               &:last-child
               {
                   padding: 0 !important;
                   background-color: #F5F2E7;
                  & a
                  {
               
                      color: $dark-font !important;
                      &:hover
                      {
                        background-color: #d0bd86;
                        width: 100%;
                      }
                    
                  }
               }
           } 
       }
   }


//    HERO
   .hero-section
   {
       .hero
       {
           display: flex;
           flex-direction: column-reverse;
           width: 90% !important;
           padding-top: 20vh !important;
           &__left
           {
               text-align: center;
            & h1 
            {
                font-size: 1.8rem !important;
            }
           }
           &__right
           {
               & img
               {
                   width: 50% ;
                   margin-left: auto;
                   margin-right: auto;
                   display: block;
               }
            & .shape1
            {
                bottom: 10;
                right: 25%;
                padding: 160px !important;
            }
           }
       }
   }
}

@media only screen and (max-width: 425px) {
    .hero-section
    {
        & .hero
        {
            display: flex;
            flex-direction: column-reverse;
            padding-top: 20vh !important;
            &__left
            {
                text-align: center;
                line-height: 1.3;
            }
            &__right
            {
                & .shape1
                {
                    width: 80% !important;
                    padding: 170px !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 375px) {
    .hero-section
    {
        & .hero
        {
      
            &__right
            {
                & .shape1
                {
                    padding: 140px !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 320px) {
    .hero-section
    {
        & .hero
        {
            &__right
            {
                & .shape1
                {
                    padding: 110px !important;
                }
            }
        }
    }
}





@media only screen and (max-width: 1440px) {
    header
    {
        & .navbar
        {
            width: 95%;
        }
    }

    // HERO

    .hero
    {
        width: 80% !important;
        padding-top: 25vh !important;
        &__left

        {
            & h1
            {
                font-size: 2rem !important;
            }
        }
        &__right
        {
            & .shape1
            {
                padding: 230px !important;
            }
        }
    }
}